@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme {
  /* Screen sizes */
  --breakpoint-xs: 475px;

  /* Fonts */
  --font-work-sans: "Work Sans", sans-serif;

  /* Primary Color */
  --color-primary-100: #ffe8f0;
  --color-primary-default: #ee2b69;

  /* Secondary Color */
  --color-secondary: #fbe843;

  /* Black Shades */
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black-default: #000000;

  /* White Shades */
  --color-white-100: #f7f7f7;
  --color-white-default: #ffffff;

  /* Border Radius */
  --drop-shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --drop-shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --drop-shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
